<app-navbar></app-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Surname" formControlName="surname">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)] = "selectedValueGender" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Biography" formControlName="biography">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Update</button>
      </form>
    </mat-card>
</div>

<div>
  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Add experience</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="validateFormExperienceAdd" (ngSubmit)="submitFormExperienceAdd()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="nameExp">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Position" formControlName="position">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a start date</mat-label>
            <input matInput [matDatepicker]="pickerStart" formControlName="start">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a end date</mat-label>
            <input matInput [matDatepicker]="pickerEnd" formControlName="end">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Add experience</button>
      </form>
    </mat-card>
  </div>

  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Add education</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="validateFormEducationAdd" (ngSubmit)="submitFormEducationAdd()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="nameEducation">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Position" formControlName="positionEducation">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a start date</mat-label>
            <input matInput [matDatepicker]="pickerStartEducation" formControlName="startEducation">
            <mat-datepicker-toggle matSuffix [for]="pickerStartEducation"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartEducation></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a end date</mat-label>
            <input matInput [matDatepicker]="pickerEndEducation" formControlName="endEducation">
            <mat-datepicker-toggle matSuffix [for]="pickerEndEducation"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndEducation></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Add education</button>
      </form>
    </mat-card>
  </div>

  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Add skill</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="validateFormSkillAdd" (ngSubmit)="submitFormSkillAdd()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="nameSkill">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Other information" formControlName="otherInfoSkill">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Add skill</button>
      </form>
    </mat-card>
  </div>

  <div class="login-wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Add interest</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="validateFormInterestAdd" (ngSubmit)="submitFormInterestAdd()">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="nameInterest">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Other information" formControlName="otherInfoInterest">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Add interest</button>
      </form>
    </mat-card>
  </div>
</div>


