<app-navbar></app-navbar>
<div class="div-search">
  <form class="example-form">      
      <mat-form-field class="example-full-width" appearance="fill">
        <input type="tel" matInput placeholder="Search job position" name= "search" [(ngModel)]= "search">
        <button matSuffix mat-button (click)="Search()"><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </form>
</div>
<div *ngFor="let searched of searchedJobOffers" class="div-inline">
  <div class="review-holder">
  <mat-card class="example-card">
    <mat-card-title>Job offer</mat-card-title>
      <mat-card-content>
        <p><b>Company name:</b> {{ searched.companyName }}</p>
        <p><b>Job position:</b> {{ searched.jobPosition }}</p>
      </mat-card-content>
  </mat-card>
  </div>
  <br>
  <br>
</div>
<div *ngFor="let jobOffer of jobOffers;let index = index">
    <div class="review-holder">
    <mat-card class="example-card">
        <mat-card-title>Job offer</mat-card-title>
        <mat-card-content>
          <p><b>Company name:</b> {{ jobOffer.companyName }} </p>
          <p><b>Job position:</b> {{ jobOffer.jobPosition }} </p>          
        </mat-card-content>
    </mat-card>
    </div>
    <br>
    <br>
</div>
